username=
password=
# true of false (browser window)
headless=

# ffmpeg jobs (how many jobs to run simultaneously)
# if false very laggy (if false all of the jobs will run simultaneously! use it when you have more than 12 cores)
enableJobQueue=true
# 1 is single thread, 2 is multithreaded, 3.4.5.6..... etc (how many jobs should run at once)
maxJobQueueCount=2