username=
password=
# true of false (browser window)
headless=true

# ffmpeg jobs (how many jobs to run simultaneously)
# if false very laggy (if false all of the jobs will run simultaneously! use it when you have more than 12 cores)
enableJobQueue=true
# 1 is single thread, 2 is multithreaded, 3.4.5.6..... etc (how many jobs should run at once)
maxJobQueueCount=2

# if set yes ffmpeg will run on the gpu. And you should be able to set maxJobQueueCount to a higher count.
gpuAcceleration=false

#NVIDIA (NVENC): h264_nvenc
#Intel (Quick Sync Video - QSV): h264_qsv
#AMD (AMF): h264_amf
#VAAPI (Video Acceleration API - for Intel/AMD/Linux): h264_vaapi

#libx264 is a software encoder if you want hardware acceleration replace it with your gpu (and gpuAcceleration should be true)
videoCodec=libx264